* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20rem;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20rem;
    margin-bottom: 20rem;
}

h1 {
    font-size: 2rem;
}

main {
    max-width: 600rem;
    margin: 0 auto;
    padding: 20rem;
    background-color: #fff;
    border-radius: 10rem;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 10%);
}
h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 10rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1rem;
    padding: 5rem;
    background-color: #e0e0e0;
    margin: 5rem 0;
    border-radius: 5rem;
}
/* Footer */
footer {
    margin-top: 20rem;
    padding: 10rem;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
}
